<% set_title t('views.pages.home.slogan') %>

<% unless current_user %>
<div class="hero-unit">
  <h1 class="hidden-phone"><%= t 'views.pages.home.slogan' %></h1><br />
  <p><%= t 'views.pages.home.description' %></p>

  <p>
    <%= link_to t('views.pages.home.fb_login'), "/auth/facebook",
      class: "btn btn-primary btn-large" %>
  </p>
</div>
<% end %>

<%= render partial: 'links/results' %>
