<div class="span8">
  <% @results.each do |result| %>
    <div class="result">
      <h3><%= result.name %></h3>
    </div>
  <% end %>
</div>
<div class="span4">
  <p>Find me in app/views/searches/index.html.erb</p>
</div>
