$navbarBackground: #3B5998;
$navbarBackgroundHighlight: #3B5998;
$navbarText: #FFF;
$navbarBrandColor: #FFF;
$navbarLinkColor: #FFF;
$navbarLinkBackgroundHover: #263B68;
$navbarSearchPlaceholderColor: #FFF;
$baseFontFamily: 'lucida grande',tahoma,verdana,arial,sans-serif;
$sansFontFamily: $baseFontFamily;

@import "bootstrap";
@import "searches";

body {
  padding-top: 60px;
}

.navbar .brand {
  font-weight: bold;
}

footer.form-actions {
  text-align: center;
  margin: 10px 0 0 0!important;
  a {
    color: #029E40;
  }
}
