$navbarBackground: #3B5998;
$navbarBackgroundHighlight: #3B5998;
$navbarText: #FFF;
$navbarBrandColor: #FFF;
$navbarLinkColor: #FFF;
$navbarLinkBackgroundHover: #263B68;
$navbarLinkBackgroundActive: #263B68;
$navbarSearchPlaceholderColor: #FFF;
$sansFontFamily: 'lucida grande',tahoma,verdana,arial,sans-serif;

@import "bootstrap";


body {
  padding-top: 60px;
}

.navbar {
  font-family: $monoFontFamily;
  .brand {
    padding-top: 10px;
    font-weight: bold;
  }

  .brand:hover {
  }
}

footer.well {
  font-family: $monoFontFamily;
  color: #737373;
  text-align: center;
  margin: 10px 0 0 0;
  a {
    color: #3B5998;
  }
}

@import "bootstrap-responsive";
@import "searches";
@import "pages";

.container {
  max-width: 767px;
}

@media (max-width: 767px) {
  footer.well {
    margin-left: -20px;
    margin-right: -20px;
  }
}
