#search-results {

  .result {
    margin-bottom: 9px;
    overflow-x: hidden;

    p { margin: 0; }
    p.link-url {
      a {
        text-decoration: none;
        color: #029E40;
      }
    }
    p.link-users {
      a {
        text-decoration: none;
        color: #029E40;
      }
    }

    img.link-picture {
      float: left;
      max-height: 30px!important;
      margin: 5px 10px 0 0;
    }

    h3 a {
      font-weight: normal;
      text-decoration: underline;
      font-size: medium;
    }
  }
}
