#search-results {
  .result {
    margin-bottom: 9px;
    p {
      margin: 0;
      a {
        text-decoration: none;
        color: #029E40;
      }
    }

    img.link-picture {
      max-height: 50px!important;
      margin: 5px 0;
    }

    h3 a {
      font-weight: normal;
      text-decoration: underline;
      font-size: 1.1em;
    }
  }
}

